apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      imagePullSecrets:
        - name: dockerhub-secret
      containers:
        - name: demo-app
          image: manojdeshmukh45/demo-app:7da2322c085d4032eaed8727dc10d5ebbf339449
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
